.style-NavBar{
    background: rgb(36,68,116);
    background: linear-gradient(90deg, rgba(36,68,116,1) 0%, rgba(53,96,161,1) 75%, rgba(53,104,180,1) 100%);
    height: 8rem;
}

.navbar .navbar-brand img{
    width : 144px;
}

.navbar-light .navbar-nav .nav-link{
    margin: 0.5rem;
    font-size: 1.5rem;
    

}
.navegacion .link-nav{
    text-decoration: none;
    color: white;
}
.navegacion .link-nav:hover{
    text-decoration: none;
    color: var(--orange);
}
.navegacion .link-activo{
    color: var(--orange);
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: var(--grey);
    
}