.style-NavBar{
    background: rgb(36,68,116);
    background: linear-gradient(90deg, rgba(36,68,116,1) 0%, rgba(53,96,161,1) 75%, rgba(53,104,180,1) 100%);
    height: 8rem;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;

}

@media screen and (min-width: 350px){
    .style-NavBar{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

.style-NavBar img{
    width: 8rem;
    z-index: 0;
    
}


@media only screen and (max-width: 960px) {

    .style-NavBar img{
        width: 5rem !important;
        margin: 1rem 1rem 0rem 0rem !important;
        position: static;
    }
}

.navbar-light .navbar-nav .nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--orange);
}

.navbar-light .navbar-nav .nav-link:focus{
    color: var(--orange);
}


.navegacion .link-nav{
    text-decoration: none;
    color: white;
    display: flex;
    
}
.navegacion .link-nav:hover{
    text-decoration: none;
    color: var(--orange);
}

.navegacion .link-nav:focus{
    color: var(--orange);
}

.navegacion .link-activo{
    color: var(--orange);
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    margin-top: 5.5rem !important;
    background-color: var(--grey);
        
}
@media screen and (max-width:960px) {
    .navbar-nav .dropdown-menu{
        background-color: #cc651c94;
        position: relative;
        left: -15rem;
    }
}


@media screen and (min-width: 960px) {
    .navbar-toggler-icon{
        position: relative;
        display: flex;
        flex-direction: row;
}
}

.navbar-collapse{
    
    position: relative;
    z-index: 1;
    
}

@media screen and (max-width: 960px){
    .navbar-collapse{
        position: fixed;
        left: 10rem;
        display: flex;
        background-color: #24447486;
    }
    
}

