.pie-de-pagina{
    margin-top: 100px;
    background: rgb(36,68,116);
    background: linear-gradient(90deg, rgba(36,68,116,1) 0%, rgba(53,96,161,1) 75%, rgba(53,104,180,1) 100%);
    color:white;
    align-items: center;
    justify-content: center;
    
}

.pie-de-pagina a{
    color:rgb(128, 142, 143);
    
}
.pie-de-pagina a:hover{
    color:var(--orange);
}
.pie-de-pagina p{
    color:rgb(128, 142, 143);
}

img{
    width: 144px;
}